html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin : 0;
  padding : 0;
  border : 0;
  font : inherit;
  font-size : 100%;
  vertical-align : baseline
}

html {
  line-height : 1
}

ol, ul {
  list-style : none
}

table {
  border-collapse : collapse;
  border-spacing : 0
}

caption, th, td {
  text-align : left;
  font-weight : normal;
  vertical-align : middle
}

q, blockquote {
  quotes : none
}

q:before, q:after, blockquote:before, blockquote:after {
  content : "";
  content : none
}

a img {
  border : none
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display : block
}

@font-face {
  font-family : "Proxima Nova Lt";
  src : url(../fonts/ProximaNova-LightItalic.eot);
  src : url(../fonts/ProximaNova-LightItalic.eot%3F) format("embedded-opentype"), url(../fonts/ProximaNova-LightItalic.woff) format("woff"), url(../fonts/ProximaNova-LightItalic.ttf) format("truetype"), url(../fonts/ProximaNova-LightItalic.svg) format("svg");
  font-style : italic;
  font-weight : 200
}

@font-face {
  font-family : "Proxima Nova Th";
  src : url(../fonts/ProximaNova-Extrabold.eot);
  src : url(../fonts/ProximaNova-Extrabold.eot%3F) format("embedded-opentype"), url(../fonts/ProximaNova-Extrabold.woff) format("woff"), url(../fonts/ProximaNova-Extrabold.ttf) format("truetype"), url(../fonts/ProximaNova-Extrabold.svg) format("svg");
  font-style : normal;
  font-weight : 700
}

@font-face {
  font-family : "Proxima Nova Sb";
  src : url(../fonts/ProximaNova-Semibold.eot);
  src : url(../fonts/ProximaNova-Semibold.eot%3F) format("embedded-opentype"), url(../fonts/ProximaNova-Semibold.woff) format("woff"), url(../fonts/ProximaNova-Semibold.ttf) format("truetype"), url(../fonts/ProximaNova-Semibold.svg) format("svg");
  font-style : normal;
  font-weight : 700
}

@font-face {
  font-family : "Proxima Nova Rg";
  src : url(../fonts/ProximaNova-Bold.eot);
  src : url(../fonts/ProximaNova-Bold.eot%3F) format("embedded-opentype"), url(../fonts/ProximaNova-Bold.woff) format("woff"), url(../fonts/ProximaNova-Bold.ttf) format("truetype"), url(../fonts/ProximaNova-Bold.svg) format("svg");
  font-style : normal;
  font-weight : 700
}

@font-face {
  font-family : "Proxima Nova Rg";
  src : url(../fonts/ProximaNova-Regular.eot);
  src : url(../fonts/ProximaNova-Regular.eot%3F) format("embedded-opentype"), url(../fonts/ProximaNova-Regular.woff) format("woff"), url(../fonts/ProximaNova-Regular.ttf) format("truetype"), url(../fonts/ProximaNova-Regular.svg) format("svg");
  font-style : normal;
  font-weight : 400
}

@font-face {
  font-family : "Proxima Nova Lt";
  src : url(../fonts/ProximaNova-Light.eot);
  src : url(../fonts/ProximaNova-Light.eot%3F) format("embedded-opentype"), url(../fonts/ProximaNova-Light.woff) format("woff"), url(../fonts/ProximaNova-Light.ttf) format("truetype"), url(../fonts/ProximaNova-Light.svg) format("svg");
  font-style : normal;
  font-weight : 200
}

@font-face {
  font-family : "staticregular";
  src : url(../fonts/static-webfont.eot);
  src : url(../fonts/static-webfont.eot%3F) format("embedded-opentype"), url(../fonts/static-webfont.woff) format("woff"), url(../fonts/static-webfont.ttf) format("truetype"), url(../fonts/static-webfont.svg) format("svg");
  font-weight : normal;
  font-style : normal
}

*, *:before, *:after {
  -moz-box-sizing : border-box;
  -webkit-box-sizing : border-box;
  box-sizing : border-box
}

.section:before, .section:after {
  content : ".";
  display : block;
  height : 0;
  overflow : hidden
}

.section:after {
  clear : both
}

.section {
  zoom : 1
}

.button, .offcanvas-title, .navbar-title, .site-title, .section-title, .footer-title, .tip-title {
  font-family : staticregular;
  font-weight : 400;
  text-transform : uppercase
}

.h-valign:before {
  display : inline-block;
  vertical-align : middle;
  content : "";
  height : 100%;
  margin-left : -5px
}

.h-valigned {
  display : inline-block;
  vertical-align : middle;
  margin-left : 5px
}

.h-lalign {
  float : left
}

.h-ralign {
  float : right
}

.i-download {
  display : block;
  width : 33px;
  height : 33px;
  background : url(../img/icons/download.png)
}

.i-download:hover {
  background : url(../img/icons/download-hover.png) no-repeat
}

.button {
  display : inline-block;
  width : 108px;
  height : 37px;
  border : 1px solid #fff;
  font-size : 14px;
  color : #fff;
  font-family : "Helvetica Neu", Helvetica;
  font-weight : bold;
  text-align : center;
  text-decoration : none;
  -webkit-border-radius : 3px;
  -moz-border-radius : 3px;
  -ms-border-radius : 3px;
  -o-border-radius : 3px;
  border-radius : 3px;
  -webkit-transition : all 0.14999999999999999s ease-out;
  -moz-transition : all 0.14999999999999999s ease-out;
  -ms-transition : all 0.14999999999999999s ease-out;
  -o-transition : all 0.14999999999999999s ease-out;
  transition : all 0.14999999999999999s ease-out
}

.button.download-link {
  width : 100px
}

.button:hover, .button.button-primary {
  background : #fff;
  color : #444
}

.button.button-primary {
  height : 36px;
  width : 112px;
  border : 0;
  background : rgba(255, 255, 255, 0.90000000000000002);
  color : #444
}

.button.button-primary.button-l {
  width : 184px;
  height : 59px
}

.button.button-primary:hover {
  background : #fff
}

.button.button-primary:hover {
  background : #fff
}

.button.button-l {
  width : 180px;
  height : 55px
}

.button.btn-documentation {
  border : 2px solid #fff
}

.button.button {
  margin-left : 30px
}

.button.button-pink {
  border-color : #FF7373;
  color : #FF7373
}

.button.button-pink:hover {
  background : #FF7373;
  color : #fff
}

.button.button-pink.button-primary {
  background : #FF7373;
  color : #fff
}

.button.button-pink.button-primary:hover {
  background : #ff5a5a
}

.header-inner, .navbar-inner {
  position : absolute;
  top : 0;
  height : 90px
}

.inner-l {
  left : 20px
}

.inner-r {
  right : 20px
}

.margin-top-s {
  margin-top : 16px
}

body {
  text-rendering : optimizeLegibility;
  -webkit-text-rendering : optimizeLegibility;
  -webkit-font-smoothing : antialiased;
  min-width : 320px;
  font : 15px / 1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align : center;
  background : #111;
  color : #545454
}

.inner {
  max-width : 940px;
  padding : 0 20px;
  margin : 0 auto
}

.offcanvas {
  position : relative;
  overflow : hidden;
  width : 100%
}

.offcanvas.active.offcanvas-inner, .offcanvas.active.navbar {
  left : 240px
}

.offcanvas-inner {
  position : relative;
  left : 0;
  width : 100%;
  background : #fff;
  -webkit-transition : all 0.14999999999999999s ease-out;
  -moz-transition : all 0.14999999999999999s ease-out;
  -ms-transition : all 0.14999999999999999s ease-out;
  -o-transition : all 0.14999999999999999s ease-out;
  transition : all 0.14999999999999999s ease-out
}

.offcanvas-collapse {
  position : absolute;
  top : 0;
  padding : 30px 20px;
  text-align : left;
  font-size : 14px;
  color : #fff
}

.active.offcanvas-collapse-inner {
  z-index : 2
}

.offcanvas-collapse-inner {
  position : fixed;
  top : 47px;
  left : 20px;
  width : 200px;
  z-index : -1
}

.offcanvas-menu {
  margin-bottom : 100px
}

.offcanvas-menu li {
  margin-bottom : 10px
}

.offcanvas-menu li:last-child {
  margin-bottom : 0
}

.offcanvas-menu li a {
  text-decoration : none;
  color : #eee;
  color : rgba(255, 255, 255, 0.90000000000000002)
}

.offcanvas-menu li a:hover {
  color : #fff
}

.offcanvas-title {
  margin-bottom : 10px;
  font-size : 20px;
  text-transform : none
}

.offcanvas-title:before {
  content : "";
  display : block;
  position : relative;
  top : -10px;
  width : 75px;
  height : 1px;
  background : rgba(255, 255, 255, 0.40000000000000002)
}

.header {
  position : relative;
  height : 600px;
  # background : url(../img/header-bkg.jpg) center;
  # background : url(../img/rocks.jpg) center;
  background : url(../img/craigs.jpg) center;
  color : #fff;
  -webkit-background-size : cover;
  -moz-background-size : cover;
  -ms-background-size : cover;
  -o-background-size : cover;
  background-size : cover
}

.header.inner {
  max-width : 640px
}

.header.site-links {
  position : relative;
  z-index : 4
}

.site-title {
  display : inline-block;
  width : 202px;
  margin-bottom : 30px;
  // border : 1px solid #ccc;
  // border : 1px solid rgba(255, 255, 255, 0.80000000000000004);
  border-right : 0;
  border-left : 0
}

.site-description {
  margin-bottom : 50px;
  font-weight : bold;
  font-size : 20px;
  text-shadow : 0 0 0 rgba(0, 0, 0, 0.40000000000000002)
}

.navbar {
  position : fixed;
  z-index : 1;
  top : -90px;
  left : 0;
  height : 90px;
  width : 100%;
  background : #35454B;
  -webkit-transition : all 0.14999999999999999s ease-out;
  -moz-transition : all 0.14999999999999999s ease-out;
  -ms-transition : all 0.14999999999999999s ease-out;
  -o-transition : all 0.14999999999999999s ease-out;
  transition : all 0.14999999999999999s ease-out
}

.navbar-title {
  font-size : 40px;
  color : #fff;
  text-decoration : none
}

.menu-link {
  width : 24px;
  height : 16px;
  background : url(../img/menu-bkg.png)
}

.site-title {
  font-size : 60px;
  color : #fff
}

.content {
  overflow : hidden;
  background : #f5f5f5
}

.section {
  padding : 100px 0
}

.section.section {
  border-top : 1px solid rgba(53, 69, 75, 0.20000000000000001);
  border-top : 1px solid #ccc
}

.section img {
  max-width : 100%;
  box-shadow : 1px 1px 0px rgba(0, 0, 0, 0.14999999999999999);
  border-radius : 4px
}

.section-title, .footer-title {
  margin-bottom : 30px;
  font-size : 22px
}

#choose {
  text-align : left
}

#choose img {
  margin-right : 40px
}

#choose.section-title, #choose.footer-title {
  margin-top : 60px
}

.tips {
  display : inline-block;
  position : relative;
  max-width : 620px;
  margin-top : 210px;
  font-size : 12px
}

.tip-title {
  margin-bottom : 10px;
  font-size : 16px
}

.tip-l {
  position : absolute;
  top : 25px;
  left : -200px;
  width : 140px;
  text-align : right
}

.tip-l i {
  position : absolute;
  right : -70px;
  display : block;
  width : 58px;
  height : 15px;
  background : url(../img/tips/tip-l.png) center
}

.tip-t {
  position : absolute;
  top : -170px;
  left : 50%;
  height : 178px;
  width : 200px;
  padding-left : 30px;
  text-align : left
}

.tip-t i {
  position : absolute;
  left : 0;
  display : block;
  width : 15px;
  height : 178px;
  background : url(../img/tips/tip-t.png) top center
}

.tip-r {
  position : absolute;
  top : 116px;
  right : -225px;
  width : 200px;
  text-align : left
}

.tip-r i {
  position : absolute;
  left : -70px;
  display : block;
  width : 53px;
  height : 15px;
  background : url(../img/tips/tip-r.png) center
}

.tip-r2 {
  position : absolute;
  top : 250px;
  right : -225px;
  width : 200px;
  text-align : left
}

.tip-r2 i {
  position : absolute;
  left : -86px;
  display : block;
  width : 69px;
  height : 15px;
  background : url(../img/tips/tip-r2.png) center
}

.footer {
  padding : 100px 0;
  font-size : 12px;
  background : #35454B;
  color : #999;
  color : rgba(255, 255, 255, 0.5)
}

.perl-logo {
  display : inline-block;
  position : relative;
  top : -2px;
  # margin-left : 5px;
  width : 30px;
  height : 39px;
  background : url(../img/onionsm.png) center;
  vertical-align : middle
}

.webgui-logo {
  display : inline-block;
  position : relative;
  top : -2px;
  width : 32px;
  height : 38px;
  background : url(../img/gooeysm.png) center;
  vertical-align : middle
}


.footer-logo span {
  display : none
}

.footer-title {
  color : #fff
}

.footer-description {
  margin-bottom : 10px
}

.footer-description a {
  color : #999;
  color : rgba(255, 255, 255, 0.5)
}

.attributions {
  position : absolute;
  left : 0;
  bottom : 0;
  right : 0;
  background : #35454B;
  padding : 25px;
  text-align : center;
  color : #999;
  color : rgba(255, 255, 255, 0.5)
}

.attributions a {
  color : #fff;
  text-decoration : underline
}
